body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

header {
  padding: 26px 165px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.menuItemsDiv {
  display: flex;
  gap: 40px;
}
.mainSection {
  padding: 0px 165px;
  position: relative;
  margin-bottom: 138px;
}
.mainTitle {
  font-weight: 700;
  font-size: 80px;
  line-height: 81px;
  letter-spacing: -0.9px;
  margin-top: 170px;
  margin-bottom: 0;
}
.subTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #3f3b3b;
  margin-top: 40px;
  margin-bottom: 196px;
}
.firstImage {
}
#imageTitles {
  color: black;
  margin-top: 19px;
  margin-bottom: 0;
}
.imageDisciripion {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #959393;
}
.secondImage {
  margin-top: 80px;
}
.thirdImage {
  width: 650px;
  height: 402px;
  border-radius: 5px;
}
.thirdImageDIV {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.thirdPDiv {
  width: 650px;
}
#X1 {
  margin-bottom: 80px;
}
#X2 {
  margin-bottom: 138px;
}
footer {
  max-width: 1440px;
  height: 295px;
  border-top: 1px solid #eee;
  padding: 0 165px;
}
.footerInnerDiv1 {
  margin-top: 40px;
  margin-bottom: 48px;
}
.footerInnerDiv2 {
  width: 132px;
  height: 152px;
  margin-top: 72px;
  margin-bottom: 71px;
}
.footerTopDiv {
  display: flex;
  justify-content: space-between;
}
.footerButton {
  width: 224px;
  height: 48px;
  border-radius: 3px;
  background-color: #2f5bd9;
  color: white;
  border: 0;
  font-size: large;
}
.footerBottomDiv {
  border-top: 1px solid #eee;
  max-width: 1440px;
  padding: 24px 165px;
  display: flex;
  justify-content: space-between;
}
#X3 {
  color: #959393;
}
#X4 {
  margin-top: 32px;
}
#X5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0px;
  margin: 0;
}
#X6 {
  margin-top: 24px;
}
.TableOfContents {
  display: flex;
  flex-direction: column;
  height: 156px;
  justify-content: space-between;
}
.secondpagediv {
  display: flex;
  margin-top: 123px;
  height: 800px;
}
.paragraph {
  width: 500px;
  margin-left: 244px;
  color: #959393;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}
#K1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #3f3b3b;
}
#K2 {
  margin-top: 93px;
  margin-bottom: 93px;
  margin-left: 380px;
  margin-right: 0px;
}
